*.tgz
f/
cpd-grid15x15-t100.txt
cpd-grid30x30-t100.txt
cliquetree-grid10x10-t10.txt 
cliquetree-grid10x10-t100.txt 
cliquetree-grid10x10-t1000.txt 
cliquetree-grid15x15-t100.txt 
cliquetree-grid25x25-t100.txt 
cliquetree-grid30x30-t100.txt 
cliquetree-grid40x40-t100.txt
